.body{ 
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27,27,27);
}

.all{
border:2px solid white;
}

.viewer{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  width:16vw;
  height:7vh;
  color:white;
  font-size: 70px;

}

.bottom{
  display:flex;
}

  .calculator{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

   .ops, .clear, .equals{
     margin:5px;
     color:white;
     font-weight: bold;
     font-size:25px;
     border:2px solid orange;
     background-color: orange;
     border-radius: 40px;
     width:70px;
     height: 70px;
     text-align: center;

     &:hover{
       background-color:orangered;
       border:2px solid orangered;
     }
   }

   .num{
    margin:5px;
    color:white;
    font-weight: bold;
    font-size:25px;
    border:2px solid gray;
    background-color: gray;
    border-radius: 40px;
    width:70px;
    height: 70px;

    &:hover{
      background-color:lightgray;
      border:2px solid lightgray;
    }
  }

  #num0{
    margin:5px;
    color:white;
    font-weight: bold;
    font-size:25px;
    border:2px solid gray;
    background-color: gray;
    border-radius: 40px;
    width:155px;
    height: 70px;

    &:hover{
      background-color:lightgray;
      border:2px solid lightgray;
    }
  }


@media screen and (max-width: 480px){

  .viewer{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:81vw;
    height:7vh;
    color:white;
    font-size: 70px;
  }

  .all{
    padding:10px;
  }

}


  



  


