

* {
  padding:0;
  margin:0;
}
body{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

main {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 23vw;
  height: 80vh;
  background-color: black;
  border:3px solid lightgrey;


  .div__result {
    display:flex;
    justify-content:flex-end;
    align-items: center;
    width:22vw;
    height: 15vh;
    margin: 15px;
    font-size: 30px;
    color:white;
    padding-right:50px;

    p{
      width:20vw;
      height: 13vh;
      display:flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .div__btn{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    button{
      padding:25px;
      margin:10px;
      border-radius:45px;
      font-size: 25px;
      font-weight: bold;
      font-family:Arial, Helvetica, sans-serif;
      background-color:slategrey;
      border:1px solid slategrey;
      color:white;

      &:hover{
        background-color: lightsteelblue;
        border:1px solid lightsteelblue;
      }

    }

    .btn__lightgrey{
      background-color: lightsteelblue;
      color:black;
      border:1px solid lightsteelblue;

      &:hover{
        background-color: lightyellow;
        border:1px solid lightyellow;
      }
    }
    .btn__orangeX, .btn__orange-dot, .btn__orange-, .btn__orange-plus, .btn__orange-equal{
      background-color: orange;
      color:white;
      border:1px solid orange;

      &:hover{
        background-color: lightsalmon;
        border:1px solid lightsalmon;
      }
    }
    
   
  }

  .div__bottom-calculator{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-evenly;
    width: 410px;

    button{
    padding:25px;
    margin:10px ;
    border-radius:45px;
    font-size: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    background-color:slategrey;
    border:1px solid slategrey;
    color:white;

    &:hover{
      background-color: lightsteelblue;
      border:1px solid lightsteelblue;
    }

    }
    .btn__orange-equal {
      background-color: orange;
      color:white;
      border:1px solid orange;

      &:hover{
        background-color: lightsalmon;
        border:1px solid lightsalmon;
      }
    }
  }
}