* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 23vw;
  height: 80vh;
  background-color: black;
  border: 3px solid lightgrey;
}
main .div__result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 22vw;
  height: 15vh;
  margin: 15px;
  font-size: 30px;
  color: white;
  padding-right: 50px;
}
main .div__result p {
  width: 20vw;
  height: 13vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main .div__btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
main .div__btn button {
  padding: 25px;
  margin: 10px;
  border-radius: 45px;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: slategrey;
  border: 1px solid slategrey;
  color: white;
}
main .div__btn button:hover {
  background-color: lightsteelblue;
  border: 1px solid lightsteelblue;
}
main .div__btn .btn__lightgrey {
  background-color: lightsteelblue;
  color: black;
  border: 1px solid lightsteelblue;
}
main .div__btn .btn__lightgrey:hover {
  background-color: lightyellow;
  border: 1px solid lightyellow;
}
main .div__btn .btn__orange {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
main .div__btn .btn__orange:hover {
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
}
main .div__bottom-calculator {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-evenly;
  width: 410px;
}
main .div__bottom-calculator button {
  padding: 25px;
  margin: 10px;
  border-radius: 45px;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: slategrey;
  border: 1px solid slategrey;
  color: white;
}
main .div__bottom-calculator button:hover {
  background-color: lightsteelblue;
  border: 1px solid lightsteelblue;
}
main .div__bottom-calculator .btn__orange {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
main .div__bottom-calculator .btn__orange:hover {
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
}